/GUIA 2/Test/nbproject/private/
/GUIA 2/Test/build/
/Ejercicio3-2/Test/nbproject/private/
/Ejercicio1-2/Test/nbproject/private/
/Java-Intro-master/EjemploLecturaYEntrada/build/
/Java-Intro-master/EjemploLecturaYEntrada/nbproject/private/
/Java-Intro-master/EjemploSentenciasSalto/nbproject/private/
/Java-Intro-master/Ejemplos Funciones/nbproject/private/
/Java-Intro-master/EjemplosEstructuras/build/
/Java-Intro-master/EjemplosEstructuras/nbproject/private/
/Java-Intro-master/VectorYMatriz/build/
/Java-Intro-master/VectorYMatriz/nbproject/private/
/TeoriaGuia3-1/build/
/TeoriaGuia3-1/dist/
/TeoriaGuia3-1/nbproject/private/